@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;600;800&display=swap');

.accordion-button::after {
    filter: invert(1);
}

body {
    animation: gradient 12s ease infinite;
    height: 100vh;

    font-family: "Dosis", sans-serif;
    letter-spacing: 1px;
}


.custom-textarea {
    display: block;
    width: 100%;
    outline: none;
    padding: 1rem;
    background-color: #4a7f9e41;
    border: none;
    color: white;
    border-radius: 5px;

    font-size: 1.1em;
    letter-spacing: 1px;
    transition: background 0.3s;
    border: 2px solid transparent
}

.custom-textarea:hover {
    background-color: #4a7f9e66;
}

.custom-textarea:focus {
    background-color: #4a7f9e66;
    border: 2px solid rgba(255, 255, 255, 0.8);
}

.custom-textarea__light {
    color: black;
    background-color: #68a9cf57;
}

.custom-textarea__light:hover {
    background-color: #68a9cf88;
}

.custom-textarea__light:focus {
    border: 2px solid #333;
    background-color: #68a9cf88;
}

.custom-button {
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;

    background: #662387;
    border: none;
    z-index: 1;
}

.custom-button:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #663dff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.custom-button:hover {
    color: #fff;
}

.custom-button:hover:after {
    left: 0;
    width: 100%;
}

.custom-button:active {
    top: 2px;
}

.custom-button:disabled {
    cursor: no-drop;
    transform: none;
    opacity: 0.8;
}

.preview {
    white-space: pre-line;
    padding: 1rem;
    background-color: #4a7f9e63;
    color: white;
    border-radius: 5px;
}

.preview__light {
    color: black;
    background-color: #68a9cf89;
}

.navbar-brand {
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 2rem;
}